@font-face {
    font-family: Bu-Wicked;
    src: local('Bu-Wicked'), url(/public/assets/fonts/BuWicked/BuWicked-2dOW.ttf);
}

@font-face {
    font-family: Children;
    src: local('Children'), url(/public/assets/fonts/ChildrenRegular/Children.ttf);
}

.flex-container {
    margin: 10vh auto auto auto;
    width: 100vw;
    display: flex;
    row-gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-break {
    flex-basis: 150%;
    height: 0;
}

.book-container {
    width: 45%;
    padding: 20px;
    text-align: center;
    position: relative; /* Required to position the button relative to the container */

}

.book-title {
    font-family: Children;
    font-size: calc(0.5rem + 2vw);
    color: darkred;
    text-align: center;
    font-weight: bold;
}

.book-cover {
    background-color: darkred;
    font-family: Bu-Wicked;
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
}

.empty-page {
    padding: 5px;
    background-color: white;
    box-shadow: none;
}

.rounded-r {
    border-top-left-radius: 45% 5%;
    border-bottom-left-radius: 40% 3%;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3),
    8px 8px 7px rgba(0, 0, 0, 0.35),
    0px 8px 5px rgba(0, 0, 0, 0.35);
}

.rounded-l {
    border-top-right-radius: 45% 5%;
    border-bottom-right-radius: 40% 3%;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3),
    0px 8px 5px rgba(0, 0, 0, 0.35),
    -8px 8px 7px rgba(0, 0, 0, 0.35);
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-page {
    background-color: indianred;
    color: antiquewhite;
    font-family: Bu-Wicked, sans-serif;
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blank-page {
    background-color: white;
}

.page-text-content {
    max-width: 80%;
    margin: auto;
}


.page-button {
    padding: 1rem 0.2rem;
    outline: none;
    position: absolute;
    top: 50%;

    background-color: rgba(188, 143, 143, 0.5);

    &:hover{
        background-color: rgba(188, 143, 143, 0.85)!important;
    }
}

.next-page{
    right: 1rem;
    transform: translate(100%, -50%); /* Centers the button vertically */
    &:hover{
        transform: scale(150%) translate(75%, -25%);
    }
}

.prev-page {
    left: 1rem;
    transform: translate(-100%, -50%); /* Centers the button vertically */

    &:hover{
        transform: scale(150%) translate(-75%, -25%);
    }
}

.download-button {
    margin: 5px auto; /* Centers the button horizontally */
    padding: 0.5rem 1rem;
    background-color: rosybrown;
}


.flipbook-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-family: "Lucida Console", sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.4s ease, box-shadow 0.3s ease;
}

.flipbook-button:hover {
    background-color: #be9797;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.7);
}

.flipbook-button:active {
    background-color: darkred;
    box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.horizontal-flip {
    transform: scaleX(-1);
}

.arrow-icon {
    width: 2.5rem;
    height: 2.5rem;

}

.download-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

@media (max-width: 768px) {
    .book-container {
        width: 90%;
        padding: 0;
        margin-top: 100px;
    }
}
