@font-face {
    font-family: Bu-Wicked;
    src: local('Bu-Wicked'), url(/public/assets/fonts/BuWicked/BuWicked-2dOW.ttf)
}

.perspective-container {
    width: 100%;
    margin: auto;
    perspective: 2000px;
}

.flex-container{
    margin: auto;
    width: 100vw;
    /*transform: rotateX(30deg);*/
    display: flex;
    row-gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-break {
    flex-basis: 150%;
    height: 0;
}

.book-container {
    width: 45%;
    padding: 20px;
}

.book-title{
    font-family: Bu-Wicked, sans-serif;
    font-size: 2.3rem;
    text-align: center;
}

.book-cover{
    background-color: indianred;
    object-fit: cover;
}


.empty-page{
    padding: 5px;
    background-color: white;
    box-shadow: none;
}

.rounded-r {
    border-top-left-radius: 45% 5%;
    border-bottom-left-radius: 40% 3%;

    /*
    border-bottom-right-radius: 105px 15px;
    */

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3),
    8px 8px 7px rgba(0, 0, 0, 0.35),
    0px 8px 5px rgba(0, 0, 0, 0.35);
}

.rounded-l {
    border-top-right-radius: 45% 5%;
    border-bottom-right-radius: 40% 3%;

    /*
    border-bottom-left-radius: 105px 15px;
    */

    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3),
    0px 8px 5px rgba(0, 0, 0, 0.35),
    -8px 8px 7px rgba(0, 0, 0, 0.35);
}

.book-cover{
    background-color: darkred;
    font-family: Bu-Wicked;
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.text-page{
    background-color: indianred;
    font-family: Bu-Wicked;
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
}

.blank-page{
    background-color: white;
}