.gallery-refresh-button {
    top: 0;
    height: 50px;
    margin: auto;
    left: auto;
    right: auto;
    margin: 15px 0 200px 0;
    font-size: 2rem;
}


.flex-container-vertical{
    margin: auto;
    width: 100vw;
    /*transform: rotateX(30deg);*/
    display: flex;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}
