.background {
    position: relative;
    min-width: 100vw;
    min-height: 100vh; /* Ensure it covers at least the viewport height */
    z-index: 0; /* Changed from -2 to 0 */
}


.background-top,
.background-top::after,
.background-bottom,
.background-bottom::after{
    aspect-ratio: 16/9;
    min-width: 100vw;

    z-index: -1;
}

.background-top::after,
.background-middle::before,
.background-bottom::after {
    filter: invert(44%) sepia(66%) saturate(2210%) hue-rotate(163deg) brightness(97%) contrast(101%);
}



.background-top {
    position: absolute;
    left: 0;

    z-index: -1;
    background-size: cover;
    background: white;
}

.background-top::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background: url('/public/assets/textures/V_2/background-top.png') no-repeat top center transparent;
}

.background-middle {
    position: relative;
    z-index: 0;
    opacity: 1;
}

.background-middle::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: url('/public/assets/textures/V_2/background-middle.png') repeat-y center top transparent;
    z-index: -1;
    pointer-events: none;

}


.background-bottom {
    position: absolute;
    bottom: 0;
    left: 0;

    z-index: -1;
    background-size: cover;
    background: white;
    height: min(100vh, auto);
}


.background-bottom::after {
    content: '';

    position: absolute;
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background: url('/public/assets/textures/background-bottom-thin.png') no-repeat top center transparent;
}

.content-over-background {
    pointer-events: auto;
    z-index: 1;
}

.button-cont{
    pointer-events:auto;
    z-index: 5;
    background-color: red;
}
