textarea {
    position: absolute;
    bottom: 50%;
    height: 50px;
    max-height: 30vh; /* Set a reasonable max-height */
    resize: none;
    border: none;
    outline: none;

    font-family: "Children", sans-serif;
    font-size: clamp(1rem, 1.5vw, 2rem); /* Responsive font size */
    line-height: clamp(0.9rem, 1.8vw, 2rem); /* Responsive font size */

    color: #00a4d7;
    white-space: pre-line;
    vertical-align: bottom;

    /* Remove scrollbar */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    background: transparent;

}
textarea::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

/* Placeholder styles */
textarea::placeholder {
    font-size: clamp(1rem, 1.5vw, 2rem);
    color: rgba(0, 164, 215, 0.64);
    vertical-align: bottom;
}
textarea:focus::placeholder {
    color: transparent;
}

/* Hover and focus effects */
textarea:hover {
    padding-bottom: 7px;
    transition: padding 0.3s 0.2s ease;
}
textarea:focus + .line::after {
    transform: scaleX(1);
}

/* Field container */
.field {
    height: 100%;
    min-width: 100px;
    margin: 50px;
    position: relative;
}


/* Line under the textarea */
.line {
    bottom: 50%;
    position: absolute;
    height: 3px;
    background: transparent;
    border-radius: 3px;
}

/* Line animation */
.line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent 0, darkred 10%, darkred 90%, transparent 100%);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    textarea{
        position: absolute;
        line-height: 1.5rem;
        font-size: 1.5rem;
        min-width: 100%;
        max-height: 40vh;
        height: 1.5rem;
        left: 0;
        bottom: 0;

        background-color: rgba(0, 164, 215, 0.06);
        border-radius: 15px;
        padding: 5px;
    }

    textarea::placeholder{
        font-size: 1.5rem;
    }

    .line{
        bottom: 0;
    }

    .line::after{
        width: 90vw;
    }

    .field {
        position: relative;
        top: 3vh;
        width: 100%;
        height: 45vh;
        min-width: 100%;
        padding: 5%;
        overflow-y: hidden;
    }
}
