/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: rosybrown;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: darkred;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 30px;
    width: 30px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    left: 0;
    top:0;
    position: fixed;
    z-index: 20;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


/* General sidebar styles */
.bm-menu {
    background: #a26b6b;
    width: 80%;
    padding: 2.5em 1.5em 0;
    font-size: 1.5em;
    overflow: clip;
}


/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #a26b6b;
    overflow: clip;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    overflow: clip;
    line-height: 2rem;
    padding: 0 5px 0 5px;
}
/* Individual item */
.bm-item {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: "Lucida Console", sans-serif;
    font-size: 1.2rem;
    background-color: rosybrown;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: color 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease;
    position: relative; /* Needed for the line positioning */
}


/* Adjust the width of the menu on mobile screens */
@media (max-width: 768px) {
    .bm-item {
        padding: 10px;
    }
}

.bm-item:hover {
    background-color: #be9797;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
}

.bm-item:active {
    background-color: darkred;
    box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.5);
}

/* Line effect */
.bm-item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px;
    height: 3px;
    width: 0;
    background: white;
    border-radius: 3px;
    transition: width 0.3s ease, left 0.3s ease;
}

.bm-item:hover::after {
    width: 100%;
    left: 0;
}

@media (max-width: 768px) {
    .bm-item::after {
        content: none;
    }
}