/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: rosybrown;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: darkred;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 30px;
    width: 30px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    left: 0;
    top:0;
    position: fixed;
    z-index: 20;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* General sidebar styles */
.bm-menu {
    background: #a26b6b;
    width: 80%;
    padding: 2.5em 1.5em 0;
    font-size: 1.5em;
    overflow: clip;

}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #a26b6b;
    overflow: clip;

}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    overflow: clip;
    line-height: 2rem;
    background-color: #a26b6b;
}

/* Individual item */
.bm-item {
    display: inline-block;
    color: wheat;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative; /* Needed for the line positioning */
    transition: color 0.4s ease, background-color 0.4s ease;
}

.bm-item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px;
    height: 3px;
    width: 0;
    background: rosybrown;
    border-radius: 3px;
    transition: width 0.3s ease, left 0.3s ease;
}

.bm-item:hover::after {
    width: 100%;
    left: 0;
}

.bm-item:hover {
    color: white;
}
