/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #1E3A8A; /* Light sky blue to match playful crayon aesthetic */
    border-radius: 3px; /* Rounded edges for a softer look */
}

/* Color/shape of burger icon bars on hover */
.bm-burger-bars-hover {
    background: #FFB6C1; /* Light pink for a soft, playful hover effect */
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 30px;
    width: 30px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #FF6347; /* Soft tomato red for a crayon-like feel */
}

/* Sidebar wrapper styles */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    padding: 2.5rem 1.5rem 0;
    font-size: 1.5em;
    width: 300px;

}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: antiquewhite;
    overflow: clip;
}

/* Wrapper for item list */
.bm-item-list {
    color: #3d3d3d; /* Darker color for text contrast */
    overflow: clip;
    line-height: 2rem;
    padding: 0 5px 0 5px;
}

/* Individual item */
.bm-item {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: "Children";
    font-weight: bold;
    font-size: 1.8rem;
    background-color: #00a4d7; /* Light sky blue background to match playful aesthetic */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Softer shadow for a playful touch */
    transition: color 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease;
    position: relative;
}

/* Hover effect on menu items */
.bm-item:hover {
    background-color:  #87CEEB;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4); /* Slightly larger shadow on hover */
}

/* Active item */
.bm-item:active {
    background-color: #02779c;
    box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.5);
}

/* Line effect */
.bm-item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px;
    height: 3px;
    width: 0;
    background: white;
    border-radius: 3px;
    transition: width 0.3s ease, left 0.3s ease;
}

.bm-item:hover::after {
    width: 100%;
    left: 0;
}



/* Adjust the width of the menu on mobile screens */
@media (max-width: 768px) {
    .bm-burger-button {
        width: 32px;
        height: 28px;
        left: 10px;
        top: 20px;
    }


    .bm-item {
        padding: 10px;
    }

    .bm-item::after {
        content: none;
    }
}

