.top-right{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    height: 25px;
    padding: 5px;
}

.language_buttons_container{
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
}