/* Center the title container */
.navbar-title-container {
    position: fixed;
    width: 100vw;
    height: 12vh;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Background for the title (slightly bigger than the title text) */
.navbar-title-background {
    background: url("/public/assets/textures/V_2/title-banner.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 30px) center; /* Shifts the background image 30px to the right */
    background-size: contain;
    padding: 20px;
    position: relative;
    width: 45vw; /* slightly wider than the title text */
    height: auto; /* allow the height to adjust with content */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Title text container */
.navbar-title-text {
    width: 23vw;
    z-index: 2;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .navbar-container {
        justify-content: flex-end;
    }

    .navbar-title-background {
        margin: 20px 0 0 50px;
        width: 90vw;
        padding: 15px;
        background-position: calc(50% + 15px) center; /* Slightly shift background image on mobile */
    }

    .navbar-title-text {
        width: 60vw; /* Ensure the text takes more space on smaller screens */
        font-size: 1.5rem; /* Adjust font size for mobile */
    }
}
