.top-right{
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    margin: 5px;
}

.profile-container{
    font-family: "Lucida Console", sans-serif;
    color: white;
    font-size: 1.75rem;
}